html {

    font-size: 62.5%;
    scroll-behavior: smooth;

    --color-red: hsl(7, 99%, 70%);
    --color-yellow: hsl(51, 100%, 49%);

    --color-design-text: hsl(167, 40%, 24%);
    --color-photography-text: hsl(198, 62%, 26%);
    --color-footer-text: hsl(168, 34%, 41%);

    --color-desaturated-blue-dark: hsl(212, 27%, 19%);
    --color-grayish-blue-dark: hsl(213, 9%, 39%);
    --color-grayish-blue-light: hsl(232, 10%, 55%);
    --color-white: hsl(0, 0%, 100%);

    --padding-section: 3rem;

}